html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.svg-back {
	background-image: url(./assets/images/wave.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom -275px right -5px;
}

a {
	text-decoration: none;
	color: black;
}

.body-text a {
	box-shadow: inset 0 0 0 0 #fff;
	color: #fff;
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	text-decoration: none;
}
.body-text a:hover {
	box-shadow: inset 100px 0 0 0 #fff;
	color: #fc1503;
	font-size: 18px;
}
::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(114, 113, 113);
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.about-btn:hover {
	background-color: #fc1503 !important;
	color: white !important;
}

.about-btn:hover span {
	color: white !important;
}
.category-btn:hover {
	background-color: #fc1503 !important;
	color: white !important;
}

.category-btn:hover span {
	color: white !important;
}

.react-player {
	height: 77vh !important;
	width: 100% !important;
}

.search-bar {
	border: none;
	outline: none;
	width: 350px;
}

.hero-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: #fc1503;
	outline: none;
	border: none;

	width: 400px;
	height: 60px;
	margin: 2em auto;
	display: block;
	padding: 7px 15px;
	margin: 10px 0px;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.about-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;

	padding: 7px 15px;
	margin: 10px 0px;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.category-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;

	padding: 7px 15px;
	margin: 10px 0px;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.icon {
	color: #fc1503;
	margin-right: 15px;
}

@media screen and (max-width: 900px) {
	.category-btn {
		margin: 10px;
	}
	.about-btn {
		margin: 10px;
	}
}

@media screen and (max-width: 800px) {
	.copyright {
		display: none !important;
	}
}

@media screen and (max-width: 600px) {
	.scroll-horizontal {
		overflow: auto !important;
	}

	.react-player {
		height: 45vh !important;
	}
	.search-bar {
		width: 200px;
	}

	.about-btn:hover {
		background-color: #fff !important;
		color: #fc1503 !important;
	}

	.about-btn:hover span {
		color: #fc1503 !important;
	}
	.icon {
		color: #fff;
	}
	.sidebar {
		position: sticky;
	}
	.logo img {
		display: none;
	}
}
